.carddive{
   margin: auto;
   margin-top: 10%;
}
.icon{
    cursor: pointer;
    background-color: aquamarine;
    width:30px;
    height: 30px;
    border-radius: 50px;
}
.infocard{
    width: 40%;
   margin-top: 10px;
margin-left: 60%;
}